:css
  #right_header {
    float: right;
    text-align: right;
    width: 200px;
    font-size: 8px;
  }
  .clearfix {
    clear: both;
    width: 100%;
    height: 1px;
  }
  #header {
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
  }
  #top_details {
    margin-top: 7px;
    font-size: 11px;
  }
  #goods {
    margin-top: 15px;
    width: 100%;
    font-size: 11px;
  }
  #goods th {
    border-top: solid 1px #000;
    border-left: solid 1px #000;
    font-weight: normal;
    padding: 3px 2px 2px 1px;
  }
  #goods thead tr th:last-child{
    border-right: solid 1px #000;
  }
  #goods thead tr th.without_right_border{
    border-right: none;
  }
  #goods td {
    border-top: solid 1px #000;
    border-left: solid 1px #000;
    font-weight: normal;
    padding: 3px 4px 4px 1px;
    text-align: center;
  }
  #goods tbody tr td:first-child{
    text-align: left;
  }
  #goods tbody tr td:last-child{
    border-right: solid 1px #000;
  }
#document
  #right_header
    ПРИЛОЖЕНИЕ № 1
    %br
    к постановлению Правительства
    %br
    Российской Федерации
    %br
    от 26 декабря 2011 г. № 1137
  .clearfix
  #header
    СЧЕТ-ФАКТУРА №
    = @doc.invoice_number
    от
    = @doc.invoice_from_date
    %br
    ИСПРАВЛЕНИЕ №
    = @doc.correction_number
    от
    = @doc.correction_date
  #top_details
    %strong Продавец:
    = @doc.vendor_name
    %br
    %strong Адрес:
    = @doc.vendor_address
    %br
    %strong ИНН/КПП продавца:
    = "#{ @doc.vendor_inn }/#{ @doc.vendor_kpp }"
    %br
    %strong Грузоотправитель и его адрес:
    = @doc.shipper
    %br
    %strong Грузополучатель и его адрес:
    = @doc.consignee
    %br
    %strong К платежно-расчетному документу
    = @doc.to_the_payment_documents
    %br
    %strong Покупатель:
    = @doc.buyer_name
    %br
    %strong Адрес:
    = @doc.buyer_address
    %br
    %strong ИНН/КПП покупателя:
    = "#{ @doc.buyer_inn }/#{ @doc.buyer_kpp } "
    %br
    %strong Валюта: наименование, код:
    = "#{ @doc.currency_name }, #{ @doc.currency_code }"
  %table#goods{ cellspacing: 0, cellpadding: 0 }
    %thead
      %tr
        %th{ rowspan: 2, width: '160px' }
          Наименование товара (описание выполненных работ, оказанных услуг), имущественного права
        %th{ colspan: 2 } Единица измерения
        %th{ rowspan: 2 } Коли- чество (объ- ем)
        %th{ rowspan: 2 } Цена (тариф) за единицу измерения
        %th{ rowspan: 2, width: '100px' } Стоимость товаров (работ, услуг), имущественных прав без налога-всего
        %th{ rowspan: 2 } В том числе сумма акциза
        %th{ rowspan: 2 } Налого- вая ставка
        %th{ rowspan: 2, width: '50px' } Сумма налога, предъяв- ляемая покупа- телю
        %th{ rowspan: 2 } Стоимость товаров (работ, услуг), имущественных прав с налогом - всего
        %th{ colspan: 2, width: '150px' } Страна происхождения товара
        %th{ rowspan: 2, width: '140px' } Номер таможенной декларации
      %tr
        %th{ width: '23px;' } код
        %th
          условное обозначение
          %nobr (национальное)
        %th
          цифро- вой
          %nobr код
        %th.without_right_border краткое наимено- вание
      %tr
        %th 1
        %th 2
        %th 2а
        %th 3
        %th 4
        %th 5
        %th 6
        %th 7
        %th 8
        %th 9
        %th 10
        %th 10а
        %th 11
    %tbody
      - @doc.goods.each do |good|
        - quantity = good[:quantity].to_f.to_s.split('.')
        %tr
          %td= good[:name]
          %td= good[:code]
          %td= good[:unit]
          %td= "#{ quantity.first }.#{ quantity.last.ljust(3, '0') } "
          %td= good[:price].to_f
          %td= good[:price].to_f*good[:quantity].to_f
          %td
            - if good[:excise_price].blank?
              Без акциза
            - else
              = good[:excise_price].to_f
          %td= good[:tax]
          %td= good[:buyer_tax_summ]
          %td= good[:summ]
          %td= good[:digital_code]
          %td= good[:country]
          %td= good[:number_of_customs_declaration]
